<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/contract_list')}" method="post">
                &nbsp;合同状态：
                <select  name="status">
                    <option value="0">请选择</option>
                    <option value="1" <if condition="$postArr['status'] == 1">selected</if>>未申请未审核</option>
                    <option value="2" <if condition="$postArr['status'] == 2">selected</if>>申请未审核</option>
                    <option value="3" <if condition="$postArr['status'] == 3">selected</if>>已审核通过</option>
                    <option value="4" <if condition="$postArr['status'] == 4">selected</if>>已审核未通过</option>
                    <option value="5" <if condition="$postArr['status'] == 5">selected</if>>已注销</option>
                </select>
                &nbsp;企业：
                   {$company_html}
                坐落：<input type="text" name="address"   value="{$postArr['address']}" size="24"  />
                &nbsp;规划用途：
                <select  name="planning_purposes">
                    <option value="0">请选择</option>
                    <option value="1" <if condition="$postArr['planning_purposes'] == 1">selected</if>>住宅</option>
                    <option value="2" <if condition="$postArr['planning_purposes'] == 2">selected</if>>商业</option>
                    <option value="3" <if condition="$postArr['planning_purposes'] == 3">selected</if>>办公</option>
                </select>
                合同编号：<input type="text" name="number"   value="{$postArr['number']}" size="24"  />
                出卖方：<input type="text" name="seller"   value="{$postArr['seller']}" size="24"  />
                买受方 ：<input type="text" name="buyer"   value="{$postArr['buyer']}" size="24"  />
                <br/>
                &nbsp;不动产权证 ：<input type="text" name="property_rights_code"   value="{$postArr['property_rights_code']}" size="24"  />
                备案时间：<input type="text" name="sdate"   value="{$postArr['sdate']}" size="24"  />-<input type="text" name="edate"  value="{$postArr['edate']}" size="24"  />
                <button>查询</button>
                <a href="{:U('index/add_contract')}"  title="新增合同"><font color="black">新增合同<font></a>
                <input type="reset" value="重置条件">
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="8%">合同编号</th>
                    <th width="8%">合同备案号</th>
                    <th width="3%">出卖方</th>
                    <th width="3%">买受方</th>
                    <th width="8%">合同状态</th>
                    <th width="10%">规划用途</th>
                    <th width="10%">房屋坐落</th>
                    <th width="10%">车库坐落</th>
                    <th width=10%">车位坐落</th>
                    <th width="5%">不动产证号</th>
                    <th width="10%">经纪机构</th>
                    <th width="11%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td>{$vo.number}</td>
                        <td>{$vo.record_number}</td>
                        <td>{$vo.seller}</td>
                        <td>{$vo.buyer}</td>
                        <td>{$vo.status_cn}</td>
                        <td>{$vo.planning_purposes}</td>
                        <td>{$vo.address}</td>
                        <td>{$vo.garage_position}</td>
                        <td>{$vo.parking_position}</td>
                        <td>{$vo.property_rights_code}</td>
                        <td>{$vo.company_name}</td>
                        <td>
                            <if condition="$vo['status'] == 1">
                                <a href="{:U('index/add_contract')}&id={$vo.id}"  title="修改"><span>修改</span></a>
                                <a href="{:U('index/sign_contract')}&id={$vo.id}"  title="签订"><span>签订</span></a>
                                <a href="{:U('index/set_contract_status')}&id={$vo.id}&status=2"  title="提交审核"><span>提交审核</span></a>
                                <a href="{:U('index/del_contract')}&id={$vo.id}"  title="删除"><span>删除</span></a>
                            </if>
                            <if condition="$vo['status'] == 2">
                                <a href="{:U('index/look_sign_contract')}&id={$vo.id}"  title="查看"><span>查看</span></a>
                                <a href="{:U('index/set_contract_status')}&id={$vo.id}&status=3"  title="通过"><span>通过</span></a>
                                <a href="{:U('index/set_contract_status')}&id={$vo.id}&status=4"  title="不通过"><span>不通过</span></a>
                            </if>
                            <if condition="$vo['status'] == 3">
                                <a href="{:U('index/look_sign_contract')}&id={$vo.id}"  title="查看"><span>查看</span></a>
                                <a href="{:U('index/set_contract_status')}&id={$vo.id}&status=5"  title="注销"><span>注销</span></a>
                            </if>
                            <if condition="$vo['status'] == 4">
                                <a href="{:U('index/look_sign_contract')}&id={$vo.id}"  title="查看"><span>查看</span></a>
                            </if>
                            <if condition="$vo['status'] == 5">
                                <a href="{:U('index/look_sign_contract')}&id={$vo.id}"  title="查看"><span>查看</span></a>
                            </if>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




