<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/room_list')}" method="post">
                &nbsp;企业：
                   {$company_html}
                坐落：<input type="text" name="address"   value="{$postArr['address']}" size="24"  />
                &nbsp;规划用途：
                <select  name="planning_purposes">
                    <option value="0">请选择</option>
                    <option value="1">住宅</option>
                    <option value="2">商业</option>
                    <option value="3">办公</option>
                </select>
                &nbsp;房屋状态：
                <select  name="status">
                    <option value="0">请选择</option>
                    <option value="1">待出售</option>
                    <option value="2">已出售</option>
                </select>
                建筑面积：<input type="text" name="sarea"   value="{$postArr['sarea']}" size="24"  />-<input type="text" name="earea"  value="{$postArr['earea']}" size="24"  />
                <button>查询</button>
                <a href="{:U('index/add_room')}"  title="新增房源"><font color="black">新增房源<font></a>
                <input type="reset" value="重置条件">
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="10%">经纪机构</th>
                    <th width="10%">房屋坐落</th>
                    <th width="3%">建筑面积</th>
                    <th width="3%">阁楼面积</th>
                    <th width="3%">规划用途</th>
                    <th width="10%">车库坐落</th>
                    <th width="3%">车库面积</th>
                    <th width="10%">车位坐落</th>
                    <th width=3%">车位面积</th>
                    <th width="3%">总价</th>
                    <th width="5%">联系人</th>
                    <th width="8%">联系电话</th>
                    <th width="5%">状态</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td>{$vo.company_name}</td>
                        <td>{$vo.address}</td>
                        <td>{$vo.covered_area}</td>
                        <td>{$vo.attic_area}</td>
                        <td>{$vo.planning_purposes}</td>
                        <td>{$vo.garage_position}</td>
                        <td>{$vo.garage_area}</td>
                        <td>{$vo.parking_position}</td>
                        <td>{$vo.parking_area}</td>
                        <td>{$vo.total_price}</td>
                        <td>{$vo.linkman}</td>
                        <td>{$vo.phone}</td>
                        <td>{$vo.status}</td>
                        <td>
                            <a href="{:U('index/add_room')}&id={$vo.id}"  title="修改"><span>修改</span></a>
                            <a href="{:U('index/del_room')}&id={$vo.id}"  title="删除"><span>删除</span></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




